extends layout

block content
  .container.mt-4
    .row
      .col-md-8.offset-md-2
        h1 Are you sure you want to delete #{company.name}?
        p.lead This action cannot be undone.

        .row.mb-3
          .col-md-12
            hr

        .row.mb-3
          .col-md-12
            h2 Company Details
            p.lead #{company.description}

        .row.mb-3
          .col-sm
            h5 Services
            p #{company.services}

        .row.mb-3
          .col-sm
            h5 Contact
            p #{company.contact}

        .row.mb-3
          .col-sm
            h5 Website
            a(href=company.url target="_blank") #{company.url}

        img(src=company.imageUrl alt=company.name style="max-width: 100%; height: auto;")

        .text-center.mt-4
          form(action=company.url + "/delete", method="POST")
            button.btn.btn-danger(type="submit") Confirm Delete
          a.btn.btn-secondary(href="/companies") Cancel
